# Import packages

In [1]:
import pandas as pd
import numpy as np
import parse
import re
from bs4 import BeautifulSoup # handle html strings
from ProcessHTML import ProcessHTML

# Read Dataset

In [2]:
filename = "../datasets/PropertyData_wDesc.csv"
# Default encoding (UTF-8) not working on this dataset
data = pd.read_csv(filename, encoding="ISO8859-1")
data.head()

,Postcode,Created,Advertised,Agreed,Completed,Date Listing Last Cancelled,Sale or Let,RTD3308_outside_space1 - Outside Space Description,EweMove Description S1 Features,EweMove Description S2 Description,...,Price / Rent,Price Qualifier,Sale Price % Achieved,Current EPC - EPC Expiry Date,DESC Council Tax Band,DESC Leasehold Ground Rent,DESC Leasehold Service Charge,ZPG_lease_expiry_years_remaining,# of Enquiry or viewings,# of Apps/Offers
0,LU7 4WN,03/04/2019,03/04/2019,NaN,NaN,28/02/2022,Sale,Communal Garden,<ul><li>CASH BUYERS ONLY</li><li>No Upper Chai...,Cash Buyers... You could pounce super quick on...,...,"<font color='blue'>&pound;140,000</font><br>Of...",Offers In Excess Of,130.71%,11/03/2028,Band B,NaN,NaN,68.0,32,12
1,L23 6YD,21/03/2019,24/03/2019,05/04/2021,28/06/2021,26/02/2020,Sale,NaN,<ul><li>Sea Views</li><li>Very Popular Locatio...,WATCHING THE SHIPS ROLL IN - from your very ow...,...,"<font color='blue'>&pound;325,000</font><br>Of...",Offers Over,NaN,28/03/2029,Band E,NaN,NaN,NaN,15,10
2,DA17 5PJ,25/03/2019,03/04/2019,25/01/2021,15/03/2021,13/06/2019,Sale,Rear Garden,<ul><li>Call NOW 24/7 or book instantly online...,"Guide price &pound;325,000 - &pound;350,000.Lo...",...,"<font color='blue'>&pound;325,000</font><br>Gu...",Guide Price,NaN,12/07/2028,Band D,NaN,NaN,NaN,14,4
3,NW4 1AP,28/06/2019,04/07/2019,NaN,NaN,NaN,Sale,NaN,<ul><li>5 bed link detached FREEHOLD house wit...,EweMove Hampstead - A rare opportunity to acqu...,...,"<font color='blue'>&pound;1,095,000</font><br>...",Guide Price,NaN,30/06/2029,NaN,NaN,NaN,NaN,13,1
4,GL7 5UX,12/06/2019,09/08/2019,13/04/2021,05/07/2021,NaN,Sale,Back Garden,<ul><li>Four Bedrooms</li><li>Detached</li><li...,For anyone looking for a family home in South ...,...,"<font color='blue'>&pound;395,000</font><br>",NaN,100.00%,30/06/2024,NaN,NaN,NaN,NaN,11,9

# Inspecting the dataset

In [3]:
data.shape

(3649, 35)

In [4]:
data.isnull().sum()

Postcode                                                 0
Created                                                  0
Advertised                                             453
Agreed                                                1381
Completed                                             1483
Date Listing Last Cancelled                           2179
Sale or Let                                              0
RTD3308_outside_space1 - Outside Space Description    1450
EweMove Description S1 Features                          0
EweMove Description S2 Description                     301
EweMove Description S3 Rooms                           977
EweMove Description S4 Summary                           0
RTD3307_parking1 - Parking Description                1331
RTD3307_parking2 - Parking Description                2077
RTD3307_parking3 - Parking Description                2779
RTD3308_outside_space2 - Outside Space Description    2001
RTD3308_outside_space3 - Outside Space Description    2561
RTD3316_condition1 - Condition Description            1383
RTD3318_heating1 - Heating Description                1312
RTD3317_accessibility1 - accessibility Description    2296
RTD3317_accessibility2 - accessibility Description    3555
RTD3317_accessibility3 - accessibility Description    3641
RTD3318_heating2 - Heating Description                1919
RTD3313_land_area_unit - Area Description             3613
RTD3318_heating3 - Heating Description                3039
Price / Rent                                             0
Price Qualifier                                       1148
Sale Price % Achieved                                 3127
Current EPC - EPC Expiry Date                         1059
DESC Council Tax Band                                 1458
DESC Leasehold Ground Rent                            3451
DESC Leasehold Service Charge                         3436
ZPG_lease_expiry_years_remaining                      3372
# of Enquiry or viewings                                 0
# of Apps/Offers                                         0
dtype: int64

# Handling HTML text

## EweMove Description S1 Features

In [5]:
string = data["EweMove Description S1 Features"][0]
soup = BeautifulSoup(string, "html.parser")
string

'<ul><li>CASH BUYERS ONLY</li><li>No Upper Chain!</li><li>Very Rare 2 Car Parking Spaces</li><li>Great Commuter Links by Road & Rail</li><li>Communal Gardens</li><li>2 Bedrooms</li><li>Cul-De-Sac Location</li><li>Brand New Bathroom</li><li>Lovely Residential Area</li></ul>'

In [6]:
print(soup.prettify())

<ul>
 <li>
  CASH BUYERS ONLY
 </li>
 <li>
  No Upper Chain!
 </li>
 <li>
  Very Rare 2 Car Parking Spaces
 </li>
 <li>
  Great Commuter Links by Road &amp; Rail
 </li>
 <li>
  Communal Gardens
 </li>
 <li>
  2 Bedrooms
 </li>
 <li>
  Cul-De-Sac Location
 </li>
 <li>
  Brand New Bathroom
 </li>
 <li>
  Lovely Residential Area
 </li>
</ul>

In [7]:
features = soup.select("li")
for feature in features:
    print(feature.string.strip())

CASH BUYERS ONLY
No Upper Chain!
Very Rare 2 Car Parking Spaces
Great Commuter Links by Road & Rail
Communal Gardens
2 Bedrooms
Cul-De-Sac Location
Brand New Bathroom
Lovely Residential Area

## EweMove Description S3 Rooms

In [8]:
string = data["EweMove Description S3 Rooms"][6]
soup = BeautifulSoup(string, "html.parser")

In [9]:
rooms = soup.select("li")
for room in rooms:
    name = room.strong.string.split('-')[-1].strip()
    try:
        area = room.i.string
    except AttributeError:
        area = 1
    print("{:25s}{}".format(name, area))

Living Room              4.34m x 4.11m (17.8 sqm) - 14' 3" x 13' 5" (192 sqft)
Dining Room              3.13m x 2.83m (8.8 sqm) - 10' 3" x 9' 3" (95 sqft)
Kitchen                  3.12m x 2.83m (8.8 sqm) - 10' 2" x 9' 3" (95 sqft)
Play Room                2.29m x 2.04m (4.6 sqm) - 7' 6" x 6' 8" (50 sqft)
Bedroom 1                4.05m x 3.38m (13.7 sqm) - 13' 3" x 11' 1" (147 sqft)
Bedroom 2                4.11m x 2.29m (9.4 sqm) - 13' 5" x 7' 6" (101 sqft)
Bedroom 3                3.36m x 2.86m (9.6 sqm) - 11' x 9' 4" (103 sqft)
Garage                   5.09m x 2.48m (12.6 sqm) - 16' 8" x 8' 1" (136 sqft)

## EweMove Description S4 Summary

In [10]:
string = data["EweMove Description S4 Summary"][26]
soup = BeautifulSoup(string, "html.parser")

In [11]:
summary = list(filter(lambda s: s.startswith("<b>"), string.split("<li>")))
summary

['<b>HUGE Summerhouse</b><br>',
 '<b>Extra long garage</b><br>',
 '<b>Parking for 4 cars</b><br>',
 '<b>Great internal space</b><br>',
 "<b>South-facing garden</b></li><br><br>Call 24/7 to register your interest or go online to book a viewing at a time that suits you - it's that easy."]

In [12]:
single = parse.compile("<b>{}</b><br>")
double = parse.compile("<b>{}</b><br><br>{}<br><br>")
final1 = parse.compile("<b>{}</b><br><br>{}<br></li>")
final2 = parse.compile("<b>{}</b><br><br>{}<br></li><br><br>{}")
final3 = parse.compile("<b>{}</b></li>")
final4 = parse.compile("<b>{}</b></li><br><br>{}")
parsers = [single, double, final1, final2, final3, final4]
for s in summary:
    result = list(filter(lambda r: r is not None, map(lambda p: p.parse(s), parsers)))[0]
    print(result.fixed)

('HUGE Summerhouse',)
('Extra long garage',)
('Parking for 4 cars',)
('Great internal space',)
('South-facing garden', "Call 24/7 to register your interest or go online to book a viewing at a time that suits you - it's that easy.")

## Price / Rent

In [13]:
string = data["Price / Rent"][3632]
string

"<font color='blue'>&pound;0</font><br>"

In [14]:
price_qualifier = string.split("<br>")[-1]

pattern = "[-+]?[.]?[\d]+(?:,\d\d\d)*[\.]?\d*(?:[eE][-+]?\d+)?"
price = re.findall(pattern, string)[0]

print(price_qualifier)
print(price)

0

# Preprocess records

## Parking spaces

In [15]:
parkings_name = list(filter(lambda s: "parking" in s, data.columns))
parkings = data[parkings_name].copy()
parkings.head()

,RTD3307_parking1 - Parking Description,RTD3307_parking2 - Parking Description,RTD3307_parking3 - Parking Description
0,Allocated,Off Street,Residents
1,NaN,NaN,NaN
2,On Street,NaN,NaN
3,NaN,NaN,NaN
4,Driveway,Garage,Off Street

### Types of parking spaces for every property
First obtaining all the parking types in the original dataset, then get the parking types for every property

In [16]:
parkings = parkings.fillna("None")
types, counts = np.unique(parkings.to_numpy().flatten(), return_counts=True)
list(zip(types, counts))

[('Allocated', 343),
 ('Communal', 81),
 ('Covered', 36),
 ('Driveway', 1257),
 ('Garage', 842),
 ('Gated', 89),
 ('None', 6187),
 ('Off Street', 1209),
 ('On Street', 458),
 ('Permit', 70),
 ('Private', 258),
 ('Rear', 27),
 ('Residents', 90)]

In [17]:
def get_parking_spaces_for_property(first: str, second: str, third: str):
    parking_types = {"Allocated": 0, "Off Street": 0, "Residents": 0, "On Street": 0, "Driveway": 0, "Garage": 0,
                     "Permit": 0, "Private": 0, "Gated": 0, "Covered": 0, "Communal": 0, "Rear": 0}

    if first in parking_types.keys():
        parking_types[first] += 1
    if second in parking_types.keys():
        parking_types[second] += 1
    if third in parking_types.keys():
        parking_types[third] += 1

    return parking_types

In [18]:
parking_types = {key: [] for key in types if key != "None"}
for i in range(len(parkings)):
    first = parkings.iloc[i, 0]
    second = parkings.iloc[i, 1]
    third = parkings.iloc[i, 2]
    types = get_parking_spaces_for_property(first, second, third)

    list(map(lambda value, d: parking_types[d].append(types[value]), types.keys(), types.keys()))

In [19]:
for k, v in parking_types.items():
    print("{:10s}\t{:5d}\t{:5d}".format(k, sum(v), len(v)))

Allocated 	  343	 3649
Communal  	   81	 3649
Covered   	   36	 3649
Driveway  	 1257	 3649
Garage    	  842	 3649
Gated     	   89	 3649
Off Street	 1209	 3649
On Street 	  458	 3649
Permit    	   70	 3649
Private   	  258	 3649
Rear      	   27	 3649
Residents 	   90	 3649

### Number of parking spaces for every property

In [20]:
parkings = data[parkings_name]
parking_num = [parkings.iloc[i].count() for i in range(len(parkings))]
parking_num = pd.DataFrame({"parking num": parking_num})
parking_num.head()

   parking num
0            3
1            0
2            1
3            0
4            3

In [21]:
parking_num.sum()

parking num    4760
dtype: int64

## Outside spaces

In [22]:
outside_name = list(filter(lambda s: "outside_space" in s, data.columns))
outside = data[outside_name].copy()
outside.head()

,RTD3308_outside_space1 - Outside Space Description,RTD3308_outside_space2 - Outside Space Description,RTD3308_outside_space3 - Outside Space Description
0,Communal Garden,NaN,NaN
1,NaN,NaN,NaN
2,Rear Garden,Private Garden,NaN
3,NaN,NaN,NaN
4,Back Garden,Enclosed Garden,Private Garden

### Types of outside spaces for every property

In [23]:
def record_types(first: str, second: str, third: str, types: dict):
    if first in types.keys():
        types[first] += 1
    if second in types.keys():
        types[second] += 1
    if third in types.keys():
        types[third] += 1

    return types

In [24]:
outside = outside.fillna("None")
types, counts = np.unique(outside.to_numpy().flatten(), return_counts=True)
list(zip(types, counts))

[('Back Garden', 1366),
 ('Communal Garden', 227),
 ('Enclosed Garden', 735),
 ('Front Garden', 682),
 ('None', 6012),
 ('Patio', 431),
 ('Private Garden', 599),
 ('Rear Garden', 802),
 ('Terrace', 93)]

In [25]:
outside_types = {key: [] for key in types if key != "None"}
for i in range(len(outside)):
    types = {key: 0 for key in types if key != "None"}
    first = outside.iloc[i, 0]
    second = outside.iloc[i, 1]
    third = outside.iloc[i, 2]
    types = record_types(first, second, third, types)

    list(map(lambda value, d: outside_types[d].append(types[value]), types.keys(), types.keys()))

In [26]:
for k, v in outside_types.items():
    print("{:15s}{:5d}".format(k, sum(v)))

Back Garden     1366
Communal Garden  227
Enclosed Garden  735
Front Garden     682
Patio            431
Private Garden   599
Rear Garden      802
Terrace           93

### Number of outside spaces for every property

In [27]:
outside = data[outside_name]
outside_num = [outside.iloc[i].count() for i in range(len(outside))]
temp = pd.DataFrame({"outside_num": outside_num})
temp.head()

   outside_num
0            1
1            0
2            2
3            0
4            3

In [28]:
temp.sum()

outside_num    4935
dtype: int64

## Condition

In [29]:
condition_names = list(filter(lambda s: "condition" in s, data.columns))
condition = data[condition_names].copy()
condition.head()

  RTD3316_condition1 - Condition Description
0                                       Good
1                                        NaN
2                                       Good
3                                        NaN
4                                       Good

In [30]:
condition = condition.fillna("None")
condition.head()

  RTD3316_condition1 - Condition Description
0                                       Good
1                                       None
2                                       Good
3                                       None
4                                       Good

## Heating

In [31]:
heating_names = list(filter(lambda s: "heating" in s, data.columns))
heating = data[heating_names].copy()
heating.head()

,RTD3318_heating1 - Heating Description,RTD3318_heating2 - Heating Description,RTD3318_heating3 - Heating Description
0,Double Glazing,Electric,Night Storage
1,NaN,NaN,NaN
2,Central,Gas Central,Double Glazing
3,NaN,NaN,NaN
4,Central,Gas,Double Glazing

In [32]:
heating = heating.fillna("None")
types, count = np.unique(heating.to_numpy().flatten(), return_counts=True)
list(zip(types, count))

[('Air Conditioning', 6),
 ('Central', 476),
 ('Double Glazing', 1550),
 ('Eco-Friendly', 17),
 ('Electric', 183),
 ('Gas', 493),
 ('Gas Central', 1814),
 ('Night Storage', 24),
 ('None', 6270),
 ('Oil', 63),
 ('Solar', 15),
 ('Solar Water', 2),
 ('Under Floor', 34)]

### Types of heating for every property

In [33]:
heating_types = {key: [] for key in types if key != "None"}
for i in range(len(heating)):
    types = {key: 0 for key in types if key != "None"}

    first = heating.iloc[i, 0]
    second = heating.iloc[i, 1]
    third = heating.iloc[i, 2]
    types = record_types(first, second, third, types)

    list(map(lambda d: heating_types[d].append(types[d]), types.keys()))

In [34]:
for k, v in heating_types.items():
    print("{:20s}{:5d}".format(k, sum(v)))

Air Conditioning        6
Central               476
Double Glazing       1550
Eco-Friendly           17
Electric              183
Gas                   493
Gas Central          1814
Night Storage          24
Oil                    63
Solar                  15
Solar Water             2
Under Floor            34

### Number of heating

In [35]:
heating = data[heating_names]
heating_num = [heating.iloc[i].count() for i in range(len(heating))]
temp = pd.DataFrame({"heating_num": heating_num})
temp.head()

   heating_num
0            3
1            0
2            3
3            0
4            3

In [36]:
temp.sum()

heating_num    4677
dtype: int64

## Accessibility

In [37]:
accessibility_name = list(filter(lambda s: "accessibility" in s, data.columns))
accessibility = data[accessibility_name].copy()
accessibility.head()

,RTD3317_accessibility1 - accessibility Description,RTD3317_accessibility2 - accessibility Description,RTD3317_accessibility3 - accessibility Description
0,Not suitable for wheelchair users,NaN,NaN
1,NaN,NaN,NaN
2,NaN,NaN,NaN
3,NaN,NaN,NaN
4,Level access,NaN,NaN

In [38]:
accessibility = accessibility.fillna("None")
types, count = np.unique(accessibility.to_numpy().flatten(), return_counts=True)

### Types of accessibility

In [39]:
accessibility_type = {key: [] for key in types if key != "None"}
for i in range(len(accessibility)):
    types = {key: 0 for key in types if key != "None"}

    first = accessibility.iloc[i, 0]
    second = accessibility.iloc[i, 1]
    third = accessibility.iloc[i, 2]
    types = record_types(first, second, third, types)

    list(map(lambda d: accessibility_type[d].append(types[d]), types.keys()))

In [40]:
for k, v in accessibility_type.items():
    print("{:35s}{:5d}".format(k, sum(v)))

Level access                         522
Lift access                           64
Not suitable for wheelchair users    779
Ramped access                         24
Wet room                              19
Wide doorways                         47

### Number of accessibility

In [41]:
accessibility = data[accessibility_name]
accessibility_num = [accessibility.iloc[i].count() for i in range(len(accessibility))]
temp = pd.DataFrame({"accessibility_num": accessibility_num})
temp

      accessibility_num
0                     1
1                     0
2                     0
3                     0
4                     1
...                 ...
3644                  0
3645                  0
3646                  0
3647                  0
3648                  0

[3649 rows x 1 columns]

In [42]:
temp.sum()

accessibility_num    1455
dtype: int64

## Rooms

In [43]:
extract_area = parse.compile("{} ({} sqm){}")

### Bedrooms

In [44]:
info = data["EweMove Description S3 Rooms"]
handler = ProcessHTML()
for i in info:
    handler.EweMove_Description_S3_Rooms(i)

In [45]:
bedroom_names = [i for i in handler.s3_rooms_set if "Bedroom" in i]
bedroom_names

['Loft Bedroom',
 'Bedroom 1',
 'Attic Bedroom',
 'Bedroom',
 'Bedroom 5',
 'Bedroom (Double) with Ensuite',
 'Master Bedroom',
 'Bedroom 7',
 'Bedroom 8',
 'Bedroom 2',
 'Bedroom (Single) with Ensuite',
 'Bedroom 4',
 'Bedroom (Single)',
 'Bedroom 3',
 'Bedroom (Double)',
 'Master Bedroom with Ensuite',
 'Bedroom 6',
 'Bedroom/Living Room']

In [46]:
for room in handler.s3_rooms[: 5]:
    if room is None: continue
    for k, v in room.items():
        if k in bedroom_names:
            print("{:30s}{}".format(k, v))

Bedroom 1                     3.37m x 2.45m (8.2 sqm) - 11' x 8' (88 sqft)
Bedroom 2                     2.54m x 2.45m (6.2 sqm) - 8' 4" x 8' (67 sqft)
Bedroom 1                     4.07m x 2.43m (9.8 sqm) - 13' 4" x 7' 11" (106 sqft)
Bedroom 2                     3.48m x 2.43m (8.4 sqm) - 11' 5" x 7' 11" (91 sqft)
Bedroom 3                     5.74m x 2.31m (13.2 sqm) - 18' 9" x 7' 6" (142 sqft)
Bedroom 4                     5.34m x 3.13m (16.7 sqm) - 17' 6" x 10' 3" (179 sqft)
Bedroom (Double)              4.3m x 2.44m (10.4 sqm) - 14' 1" x 8' (112 sqft)
Master Bedroom                4.83m x 2.29m (11 sqm) - 15' 10" x 7' 6" (119 sqft)
Bedroom 2                     3.24m x 3.01m (9.7 sqm) - 10' 7" x 9' 10" (104 sqft)
Bedroom 3                     2.86m x 2.62m (7.4 sqm) - 9' 4" x 8' 7" (80 sqft)
Bedroom 4                     2.86m x 2.62m (7.4 sqm) - 9' 4" x 8' 7" (80 sqft)

#### Obtain the maximum number of bedrooms in a property

In [47]:
bedrooms_num = []
for room in handler.s3_rooms:
    if room is None:
        bedrooms_num.append(0)
        continue

    bedrooms_num.append(len([key for key in room.keys() if "Bedroom" in key]))
max_bedroom_num = max(bedrooms_num)

#### Bedroom area

In [48]:
bedroom_names = ["Bedroom {}".format(i + 1) for i in range(max_bedroom_num)]
bedrooms = []
for i in range(len(handler.s3_rooms)):
    bedroom_per_property = {key: 0 for key in bedroom_names}
    if handler.s3_rooms[i] is None:
        bedrooms.append(bedroom_per_property)
        continue

    num = 1
    for k, v in handler.s3_rooms[i].items():
        if "Bedroom" not in k:
            continue

        if not isinstance(v, str):
            bedroom_per_property["Bedroom {}".format(num)] = 0
            num += 1
            continue

        bedroom_per_property["Bedroom {}".format(num)] = float(extract_area.parse(handler.s3_rooms[i][k])[1])
        num += 1

    bedrooms.append(bedroom_per_property)

In [49]:
bedrooms = pd.DataFrame(bedrooms)
bedrooms.head()

,Bedroom 1,Bedroom 2,Bedroom 3,Bedroom 4,Bedroom 5,Bedroom 6,Bedroom 7,Bedroom 8
0,8.2,6.2,0.0,0.0,0.0,0.0,0.0,0.0
1,9.8,8.4,13.2,16.7,0.0,0.0,0.0,0.0
2,10.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,11.0,9.7,7.4,7.4,0.0,0.0,0.0,0.0

### Kitchen

In [50]:
for room in handler.s3_rooms[: 50]:
    if room is None: continue
    for k, v in room.items():
        if "kitchen" in k.lower():
            print("{:30s}{}".format(k, v))

Kitchen                       2.68m x 2.14m (5.7 sqm) - 8' 9" x 7' (61 sqft)
Kitchen /  Dining Room        5.33m x 4.58m (24.4 sqm) - 17' 5" x 15' (262 sqft)
Kitchen                       2.97m x 2.36m (7 sqm) - 9' 8" x 7' 8" (75 sqft)
Kitchen                       3.99m x 2.61m (10.4 sqm) - 13' 1" x 8' 6" (112 sqft)
Kitchen                       4.2m x 3.5m (14.7 sqm) - 13' 9" x 11' 5" (158 sqft)
Kitchen                       3.12m x 2.83m (8.8 sqm) - 10' 2" x 9' 3" (95 sqft)
Kitchen /  Dining Room        4.5m x 3.7m (16.6 sqm) - 14' 9" x 12' 1" (179 sqft)
Kitchen Diner                 4.76m x 2.78m (13.2 sqm) - 15' 7" x 9' 1" (142 sqft)
Kitchen /  Dining Room        2.82m x 4.46m (12.5 sqm) - 9' 3" x 14' 7" (135 sqft)
Kitchen                       1
Kitchen                       7.49m x 3.1m (23.2 sqm) - 24' 6" x 10' 2" (249 sqft)
Kitchen /  Dining Room        6.5m x 3.73m (24.2 sqm) - 21' 3" x 12' 2" (260 sqft)
Kitchen                       3.3m x 3m (9.9 sqm) - 10' 9" x 9' 10" (106 sqft)
Open Plan Living Room / Kitchen7.96m x 4.75m (37.8 sqm) - 26' 1" x 15' 7" (406 sqft)
Kitchen Diner                 6.9m x 3.4m (23.4 sqm) - 22' 7" x 11' 1" (252 sqft)
Kitchen                       3.29m x 2.67m (8.7 sqm) - 10' 9" x 8' 9" (94 sqft)
Kitchen /  Dining Room        2.85m x 6.26m (17.8 sqm) - 9' 4" x 20' 6" (192 sqft)
Kitchen                       3.76m x 2m (7.5 sqm) - 12' 4" x 6' 6" (80 sqft)
Kitchen Diner                 2.31m x 3.73m (8.6 sqm) - 7' 7" x 12' 2" (93 sqft)

In [51]:
kitchens = []

for i in range(len(handler.s3_rooms)):
    kitchen_per_property = 0
    if handler.s3_rooms[i] is None:
        kitchens.append(kitchen_per_property)
        continue

    for k, v in handler.s3_rooms[i].items():
        if "kitchen" in k.lower():
            kitchen_per_property = 1
            break

    kitchens.append(kitchen_per_property)

In [52]:
kitchens = pd.DataFrame({"Kitchen": kitchens})
kitchens.head()

   Kitchen
0        1
1        1
2        1
3        0
4        1

### Living/Reception

In [53]:
living_room_names = [i for i in handler.s3_rooms_set if ("living" in i.lower() or "reception" in i.lower()) and "kitchen" not in i.lower()]
for room in handler.s3_rooms[: 50]:
    if room is None: continue
    for k, v in room.items():
        if k in living_room_names:
            print("{:30s}{}".format(k, v))

Living/Dining Room            6.58m x 3.78m (24.8 sqm) - 21' 7" x 12' 4" (267 sqft)
Living Room                   4.34m x 4.11m (17.8 sqm) - 14' 3" x 13' 5" (192 sqft)
Living Room                   4.9m x 3.7m (18.1 sqm) - 16' x 12' 1" (195 sqft)
Living Room                   4.16m x 8.69m (36.1 sqm) - 13' 7" x 28' 6" (389 sqft)
Living Room                   4.5m x 3.7m (16.6 sqm) - 14' 9" x 12' 1" (179 sqft)
Living Room                   3.83m x 3.58m (13.7 sqm) - 12' 6" x 11' 8" (147 sqft)
Reception Room                3.68m x 3.68m (13.5 sqm) - 12' x 12' (145 sqft)
Living Room                   3.63m x 4.25m (15.4 sqm) - 11' 10" x 13' 11" (166 sqft)
Living Room                   3m x 4.12m (12.3 sqm) - 9' 10" x 13' 6" (133 sqft)
Living Room                   3.6m x 3.73m (13.4 sqm) - 11' 9" x 12' 2" (144 sqft)

In [54]:
receptions = []
for i in range(len(handler.s3_rooms)):
    reception_per_property = 0
    if handler.s3_rooms[i] is None:
        receptions.append(reception_per_property)
        continue

    for k, v in handler.s3_rooms[i].items():
        if k in living_room_names and isinstance(v, str):
            reception_per_property += float(extract_area.parse(handler.s3_rooms[i][k])[1])

    receptions.append(reception_per_property)

In [55]:
receptions = pd.DataFrame({"Reception": receptions})
receptions.head()

   Reception
0       24.8
1        0.0
2        0.0
3        0.0
4        0.0

### Bathroom/WC/Washroom

In [56]:
bathroom_names = [i for i in handler.s3_rooms_set if "bathroom" in i.lower() or "wc" in i.lower()]
for room in handler.s3_rooms[: 50]:
    if room is None: continue
    for k, v in room.items():
        if k in bathroom_names:
            print("{:30s}{}".format(k, v))

Bathroom                      2.14m x 2.04m (4.3 sqm) - 7' x 6' 8" (46 sqft)
Bathroom                      1.98m x 2.37m (4.6 sqm) - 6' 5" x 7' 9" (50 sqft)
Bathroom                      1
Family Bathroom               1
Bathroom                      2.5m x 1.7m (4.2 sqm) - 8' 2" x 5' 6" (45 sqft)
WC                            1.7m x 1.5m (2.5 sqm) - 5' 6" x 4' 11" (27 sqft)
Bathroom                      1
Bathroom                      2.24m x 1.89m (4.2 sqm) - 7' 4" x 6' 2" (45 sqft)
Bathroom                      2.08m x 1.81m (3.7 sqm) - 6' 9" x 5' 11" (40 sqft)
Bathroom                      1
WC                            2.45m x 0.75m (1.8 sqm) - 8' x 2' 5" (19 sqft)
Family Bathroom               3.29m x 3.17m (10.4 sqm) - 10' 9" x 10' 4" (112 sqft)
Family Bathroom               2.5m x 2m (5 sqm) - 8' 2" x 6' 6" (53 sqft)
Bathroom                      2.43m x 1.67m (4 sqm) - 7' 11" x 5' 5" (43 sqft)
Bathroom                      1.5m x 2.9m (4.3 sqm) - 4' 11" x 9' 6" (46 sqft)
Bathroom                      3.15m x 2.66m (8.3 sqm) - 10' 4" x 8' 8" (90 sqft)
WC                            1.26m x 0.9m (1.1 sqm) - 4' 1" x 2' 11" (12 sqft)
Bathroom                      1.6m x 3.32m (5.3 sqm) - 5' 2" x 10' 10" (57 sqft)
Bathroom                      2.72m x 1.61m (4.3 sqm) - 8' 11" x 5' 3" (47 sqft)

In [57]:
bathroom_names

['Bathroom',
 'Outside WC',
 'Family Bathroom',
 'WC',
 'Guest Bathroom',
 'Guest WC',
 'Ensuite Bathroom',
 'Master Bathroom']

In [58]:
bathrooms = []
for i in range(len(handler.s3_rooms)):
    bathroom_per_property = {key: 0 for key in bathroom_names}
    if handler.s3_rooms[i] is None:
        bathrooms.append(bathroom_per_property)
        continue

    for k, v in handler.s3_rooms[i].items():
        if k in bathroom_names and isinstance(v, str):
            bathroom_per_property[k] = float(extract_area.parse(handler.s3_rooms[i][k])[1])

    bathrooms.append(bathroom_per_property)

In [59]:
bathrooms = pd.DataFrame(bathrooms)
bathrooms.head()

,Bathroom,Outside WC,Family Bathroom,WC,Guest Bathroom,Guest WC,Ensuite Bathroom,Master Bathroom
0,4.3,0,0.0,0.0,0.0,0.0,0.0,0.0
1,4.6,0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

### Dining

In [60]:
dining_names = [i for i in handler.s3_rooms_set if ("dining" in i.lower() or "breakfast" in i.lower()) and "kitchen" not in i.lower() and "living" not in i.lower()]
for room in handler.s3_rooms[: 50]:
    if room is None: continue
    for k, v in room.items():
        if k in dining_names:
            print("{:30s}{}".format(k, v))

Dining Room                   3.5m x 3m (10.5 sqm) - 11' 5" x 9' 10" (113 sqft)
Dining Room                   3.13m x 2.83m (8.8 sqm) - 10' 3" x 9' 3" (95 sqft)
Dining Room                   4.3m x 3.13m (13.4 sqm) - 14' 1" x 10' 3" (144 sqft)
Dining Room                   3.1m x 2.6m (8 sqm) - 10' 2" x 8' 6" (86 sqft)
Dining Room                   5.09m x 3.7m (18.8 sqm) - 16' 8" x 12' 1" (203 sqft)
Dining Room                   3.7m x 4.12m (15.2 sqm) - 12' 1" x 13' 6" (164 sqft)

In [61]:
dining_rooms = []
for i in range(len(handler.s3_rooms)):
    dining_room_per_property = 0
    if handler.s3_rooms[i] is None:
        dining_rooms.append(dining_room_per_property)
        continue

    for k, v in handler.s3_rooms[i].items():
        if k in dining_names and isinstance(v, str):
            dining_room_per_property += float(extract_area.parse(v)[1])

    dining_rooms.append(dining_room_per_property)

In [62]:
dining_rooms = pd.DataFrame({"Dining room": dining_rooms})
dining_rooms.iloc[:10]

   Dining room
0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
5         10.5
6          8.8
7          0.0
8          0.0
9          0.0

### Work/study

In [63]:
work_names = [i for i in handler.s3_rooms_set if "work" in i.lower() or "study" in i.lower() or "office" in i.lower()]
for room in handler.s3_rooms[: 300]:
    if room is None: continue
    for k, v in room.items():
        if k in work_names:
            print("{:30s}{}".format(k, v))

Study                         2.27m x 1.98m (4.5 sqm) - 7' 5" x 6' 5" (48 sqft)
Garage / Office               5m x 3.1m (15.5 sqm) - 16' 4" x 10' 2" (166 sqft)
Study                         2.16m x 3.14m (6.7 sqm) - 7' 1" x 10' 3" (73 sqft)
Study Area                    2.5m x 1.85m (4.6 sqm) - 8' 2" x 6' (49 sqft)
Study                         5.7m x 2m (11.4 sqm) - 18' 8" x 6' 6" (122 sqft)
Workspace                     8.69m x 2m (17.4 sqm) - 28' 6" x 6' 6" (187 sqft)
Study                         3m x 3m (9 sqm) - 9' 10" x 9' 10" (96 sqft)
Workshop                      14m x 3.6m (50.4 sqm) - 45' 11" x 11' 9" (542 sqft)
Study/Family Room/Play Room   4m x 2.91m (11.6 sqm) - 13' 1" x 9' 6" (125 sqft)
Study                         3.47m x 2.18m (7.5 sqm) - 11' 4" x 7' 1" (81 sqft)
Workshop                      5.09m x 2.14m (10.9 sqm) - 16' 8" x 7' (117 sqft)
Study                         2.1m x 2.1m (4.4 sqm) - 6' 10" x 6' 10" (47 sqft)
Study Area                    2.8m x 2.54m (7.1 sqm) - 9' 2" x 8' 4" (76 sqft)
Study/Family Room/Play Room   4.29m x 2.74m (11.7 sqm) - 14' x 8' 11" (126 sqft)
Office                        1
Study                         3.2m x 2.1m (6.7 sqm) - 10' 5" x 6' 10" (72 sqft)
Study/Family Room/Play Room   3.7m x 3.1m (11.4 sqm) - 12' 1" x 10' 2" (123 sqft)
Study                         2.2m x 2.8m (6.1 sqm) - 7' 2" x 9' 2" (66 sqft)
Study                         6.15m x 3.33m (20.4 sqm) - 20' 2" x 10' 11" (220 sqft)
Study                         3.49m x 2.89m (10 sqm) - 11' 5" x 9' 5" (108 sqft)
Study                         3.52m x 2.69m (9.4 sqm) - 11' 6" x 8' 9" (101 sqft)
Study                         3.14m x 1.92m (6 sqm) - 10' 3" x 6' 3" (64 sqft)

In [64]:
work_spaces = []
for room in handler.s3_rooms:
    work_per_property = 0
    if room is None:
        work_spaces.append(work_per_property)
        continue

    for k, v in room.items():
        if k in work_names and isinstance(v, str):
            work_per_property += float(extract_area.parse(v)[1])

    work_spaces.append(work_per_property)

In [65]:
work_spaces = pd.DataFrame({"work space": work_spaces})
work_spaces

      work space
0            0.0
1            0.0
2            0.0
3            0.0
4            4.5
...          ...
3644         0.0
3645         0.0
3646         0.0
3647         0.0
3648         0.0

[3649 rows x 1 columns]

### Other rooms

In [66]:
bedroom_names = set([i for i in handler.s3_rooms_set if "Bedroom" in i])
kitchen_names = set(i for i in handler.s3_rooms_set if "kitchen" in i.lower())
reception_names = set(i for i in handler.s3_rooms_set if ("living" in i.lower() or "reception" in i.lower()) and "kitchen" not in i.lower())
garden_names = set([i for i in handler.s3_rooms_set if "garden" in i.lower() or "yard" in i.lower()])
bathroom_names = set(i for i in handler.s3_rooms_set if "bathroom" in i.lower() or "wc" in i.lower() or "washroom" in i.lower())
dining_names = set(i for i in handler.s3_rooms_set if ("dining" in i.lower() or "breakfast" in i.lower()) and "kitchen" not in i.lower() and "living" not in i.lower())
work_names = set([i for i in handler.s3_rooms_set if "work" in i.lower() or "study" in i.lower() or "office" in i.lower()])
parking = set(i for i in handler.s3_rooms_set if "car" in i.lower() or "garage" in i.lower() or "driveway" in i.lower() or "park" in i.lower())

rest_names = handler.s3_rooms_set - bedroom_names - kitchen_names - reception_names - garden_names - bathroom_names - dining_names - work_names - parking
rest_names

{'Airing Cupboard',
 'Annexe',
 'Approach',
 'Attic',
 'Balcony',
 'Barn',
 'Basement',
 'Boiler Room',
 'Boot Room',
 'Cabin',
 'Cellar',
 'Cinema Room',
 'Cloakroom',
 'Coat Room',
 'Conservatory',
 'Day Room',
 'Decking',
 'Den',
 'Downstairs Cloakroom',
 'Drawing Room',
 'Dressing Room',
 'Electric Gate',
 'Ensuite',
 'Ensuite Shower Room',
 'Entrance Hall',
 'Entrance Porch',
 'Extension',
 'Exterior',
 'Family Room',
 'First Floor Landing',
 'Foyer',
 'Front Access',
 'Front Porch',
 'Front Room',
 'Frontroom',
 'Galleried Landing',
 'Gallery Landing',
 'Games Room',
 'Green House',
 'Guest Room',
 'Gym',
 'Hall',
 'Hallway',
 'Hobby Room',
 'Hot Tub',
 'Inner Hall',
 'Inner Lobby',
 'Jack & Jill Ensuite',
 'Land',
 'Landing',
 'Larder',
 'Laundry Room',
 'Lift',
 'Lobby',
 'Loft',
 'Loft Room',
 'Lounge',
 'Lounge Diner',
 'Lower Ground Floor',
 'Man Cave',
 'ManÃ¨ge',
 'Mezzanine',
 'Morning Room',
 'Open Front Porch',
 'Orangery',
 'Outbuilding',
 'Outside Storage',
 'Paddock',
 'Pantry',
 'Patio',
 'Patio Area',
 'Play Room',
 'Porch',
 'Rear Access',
 'Rear Lobby',
 'Rear Porch',
 'Roof Terrace',
 'Room 1',
 'Room 2',
 'Room 3',
 'Room 4',
 'Sauna',
 'Second Floor Landing',
 'Shed',
 'Shopfront',
 'Shower Room',
 'Showroom',
 'Side Access',
 'Side Lobby',
 'Side Porch',
 'Sitting Room',
 'Snug',
 'Solarium',
 'Stable',
 'Stables',
 'Storage Room',
 'Store',
 'Storm Porch',
 'Studio',
 'Summer House',
 'Summer Room',
 'Sun Lounge',
 'Sun Room',
 'Swimming Pool',
 'Terrace',
 'Third Floor Landing',
 'Upstairs Cloakroom',
 'Utility Room',
 'Veranda',
 'Vestibule',
 'Walk In Wardrobe',
 'Wash Room',
 'Water Closet',
 'Wet Room',
 'Wine Cellar'}

In [67]:
for room in handler.s3_rooms[:50]:
    if room is None: continue
    for k, v in room.items():
        if k in rest_names:
            print("{:30s}{}".format(k, v))

Entrance Hall                 1
Porch                         1.48m x 2.31m (3.4 sqm) - 4' 10" x 7' 6" (36 sqft)
Hallway                       5.03m x 2.77m (13.9 sqm) - 16' 6" x 9' 1" (149 sqft)
Shower Room                   0.79m x 1.57m (1.2 sqm) - 2' 7" x 5' 1" (13 sqft)
Utility Room                  1.6m x 2.76m (4.4 sqm) - 5' 2" x 9' (47 sqft)
Downstairs Cloakroom          1.68m x 1.1m (1.8 sqm) - 5' 6" x 3' 7" (19 sqft)
Landing                       2.41m x 1.06m (2.5 sqm) - 7' 10" x 3' 5" (27 sqft)
Lounge                        4.33m x 5.36m (23.2 sqm) - 14' 2" x 17' 7" (249 sqft)
Entrance Porch                1
Lounge Diner                  6.76m x 4.04m (27.3 sqm) - 22' 2" x 13' 3" (293 sqft)
Lobby                         1
Landing                       1
Entrance Hall                 1
Downstairs Cloakroom          1
Lounge Diner                  6.66m x 3.1m (20.6 sqm) - 21' 10" x 10' 2" (222 sqft)
Conservatory                  1
Ensuite Shower Room           1
Lounge                        5.4m x 3.5m (18.9 sqm) - 17' 8" x 11' 5" (203 sqft)
Vestibule                     2.2m x 1.7m (3.7 sqm) - 7' 2" x 5' 6" (40 sqft)
Shower Room                   2.29m x 1.7m (3.9 sqm) - 7' 6" x 5' 6" (42 sqft)
Utility Room                  3m x 2.7m (8.1 sqm) - 9' 10" x 8' 10" (87 sqft)
Cloakroom                     1.7m x 1.2m (2 sqm) - 5' 6" x 3' 11" (21 sqft)
Play Room                     2.29m x 2.04m (4.6 sqm) - 7' 6" x 6' 8" (50 sqft)
Hallway                       1
First Floor Landing           1
Cellar                        2m x 2m (4 sqm) - 6' 6" x 6' 6" (43 sqft)
Entrance Hall                 1
Cloakroom                     1
Lounge                        4.71m x 3.34m (15.7 sqm) - 15' 5" x 10' 11" (169 sqft)
Landing                       1
Ensuite Shower Room           2.82m x 1.28m (3.6 sqm) - 9' 3" x 4' 2" (38 sqft)
Entrance Hall                 3.03m x 3.05m (9.2 sqm) - 9' 11" x 10' (99 sqft)
Lounge                        4.86m x 4.46m (21.6 sqm) - 15' 11" x 14' 7" (233 sqft)
Conservatory                  1.94m x 2.62m (5 sqm) - 6' 4" x 8' 7" (54 sqft)
First Floor Landing           1
Exterior                      1
Entrance Hall                 1
Lounge                        1
Entrance Hall                 6.55m x 2.27m (14.9 sqm) - 21' 5" x 7' 5" (160 sqft)
Landing                       6.74m x 2.16m (14.5 sqm) - 22' 1" x 7' 1" (156 sqft)
Loft                          1
Entrance Hall                 1
Utility Room                  1
Downstairs Cloakroom          1
Landing                       1
Lounge                        7.28m x 5.07m (36.9 sqm) - 23' 10" x 16' 7" (397 sqft)
Shower Room                   1
Entrance Porch                2.9m x 2.2m (6.3 sqm) - 9' 6" x 7' 2" (68 sqft)
Hallway                       4.4m x 1.9m (8.3 sqm) - 14' 5" x 6' 2" (89 sqft)
Lounge                        6.6m x 3.6m (23.7 sqm) - 21' 7" x 11' 9" (255 sqft)
Downstairs Cloakroom          1.9m x 1.1m (2 sqm) - 6' 2" x 3' 7" (22 sqft)
Landing                       1
Ensuite                       2.6m x 1.7m (4.4 sqm) - 8' 6" x 5' 6" (47 sqft)
Entrance Hall                 1
Ensuite Shower Room           2.62m x 1.63m (4.2 sqm) - 8' 7" x 5' 4" (45 sqft)
Landing                       1
Dressing Room                 2.86m x 2.54m (7.2 sqm) - 9' 4" x 8' 4" (78 sqft)
Roof Terrace                  3.09m x 2.82m (8.7 sqm) - 10' 1" x 9' 3" (93 sqft)
Vestibule                     1
Entrance Hall                 1
Lounge                        3.7m x 3.7m (13.6 sqm) - 12' 1" x 12' 1" (147 sqft)
Utility Room                  1.7m x 1.4m (2.3 sqm) - 5' 6" x 4' 7" (25 sqft)
Rear Porch                    1
Landing                       1
Ensuite                       2.5m x 1.8m (4.5 sqm) - 8' 2" x 5' 10" (48 sqft)
Entrance Hall                 1
Exterior                      1
Entrance Hall                 1
Utility Room                  1.6m x 1.85m (2.9 sqm) - 5' 2" x 6' (31 sqft)
Exterior                      1
Porch                         1
Inner Hall                    1
Dressing Room                 3m x 2m (6 sqm) - 9' 10" x 6' 6" (64 sqft)
Exterior                      1
Veranda                       1
Entrance Hall                 1
Ensuite                       1.49m x 1.39m (2 sqm) - 4' 10" x 4' 6" (22 sqft)
Shower Room                   1.17m x 2.1m (2.4 sqm) - 3' 10" x 6' 10" (26 sqft)

In [68]:
other_rooms = []
for room in handler.s3_rooms:
    other_room_per_property = 0
    if room is None:
        other_rooms.append(other_room_per_property)
        continue

    for k, v in room.items():
        if k in rest_names:
            other_room_per_property += 1
    other_rooms.append(other_room_per_property)

In [69]:
other_rooms = pd.DataFrame({"Other rooms": other_rooms})
other_rooms.head()

   Other rooms
0            1
1            7
2            4
3            0
4            5

In [70]:
def get_rooms(dataset, *args):
    return [i for i in dataset for j in args if j in i.lower()]

result = get_rooms(handler.s3_rooms_set, "bedroom")
result

['Loft Bedroom',
 'Bedroom 1',
 'Attic Bedroom',
 'Bedroom',
 'Bedroom 5',
 'Bedroom (Double) with Ensuite',
 'Master Bedroom',
 'Bedroom 7',
 'Bedroom 8',
 'Bedroom 2',
 'Bedroom (Single) with Ensuite',
 'Bedroom 4',
 'Bedroom (Single)',
 'Bedroom 3',
 'Bedroom (Double)',
 'Master Bedroom with Ensuite',
 'Bedroom 6',
 'Bedroom/Living Room']

In [71]:
for i in result:
    if i not in bedroom_names:
        print("False")
        break

In [72]:
len(result), len(bedroom_names)

(18, 18)

In [73]:
from ExtractRooms import ExtractRooms

extract = ExtractRooms(handler.s3_rooms, handler.s3_rooms_set, "{} ({} sqm){}")
extract.get_rooms("bedroom")
extract.get_rooms("kitchen")
extract.get_rooms("dining", "breakfast")
extract.get_rooms("bathroom", "wc")
extract.get_rooms("work", "study", "office")
extract.get_rooms("living", "reception")

br = extract.get_rest_rooms("mean")

In [74]:
br = pd.DataFrame(br)

In [75]:
br

       0           1
0      3   58.700227
1      9   89.533485
2      4   86.000227
3      3   58.700227
4      7  249.466969
...   ..         ...
3644   6  185.666742
3645   2   39.133485
3646   2   21.200000
3647   3   63.933485
3648  10  691.333485

[3649 rows x 2 columns]

In [76]:
work_spaces

      work space
0            0.0
1            0.0
2            0.0
3            0.0
4            4.5
...          ...
3644         0.0
3645         0.0
3646         0.0
3647         0.0
3648         0.0

[3649 rows x 1 columns]

In [77]:
count = 0
for i in range(len(br)):
    if br.iloc[i, 0] != work_spaces.iloc[i, 0]:
        print(i)
        count += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
258
259
261
262
263
267
268
272
274
275
276
277
279
280
282
283
285
287
292
293
295
296
301
303
304
305
306
307
308
309
310
311
312
313
314
315
316
318
319
320
321
322
323
324
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
422
423
424
425
426
427
428
429
432
433
434
435
436
437
438
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
569
570
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
663
664
665
666
667
668
669
670
671
672
673
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
695
696
697
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
795
796
797
798
799
800
801
803
804
805
806
807
808
809
810
811
812
813
814
815
816
818
819
820
821
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
891
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
912
913
914
915
916
917
918
919
920
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
953
954
955
956
957
958
959
960
961
963
964
965
966
968
969
970
971
972
973
974
975
976
977
978
979
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1066
1067
1068
1069
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1215
1217
1223
1225
1226
1228
1231
1232
1233
1235
1236
1237
1240
1246
1248
1249
1250
1251
1252
1254
1255
1256
1257
1258
1259
1260
1261
1262
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1413
1414
1415
1418
1420
1421
1422
1425
1426
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1522
1523
1526
1529
1530
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1544
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1761
1762
1763
1764
1767
1768
1770
1771
1773
1774
1776
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1896
1897
1898
1899
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2062
2063
2064
2065
2066
2067
2068
2069
2070
2071
2072
2073
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
2100
2101
2102
2103
2104
2105
2106
2107
2108
2109
2110
2111
2112
2113
2114
2115
2116
2117
2118
2119
2120
2121
2122
2123
2124
2125
2126
2127
2128
2129
2130
2131
2132
2133
2134
2135
2136
2137
2138
2139
2140
2141
2142
2143
2144
2145
2146
2147
2148
2149
2150
2152
2153
2154
2155
2156
2157
2158
2159
2160
2161
2162
2163
2164
2165
2166
2167
2168
2169
2170
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2181
2182
2183
2184
2185
2186
2187
2188
2189
2190
2191
2192
2193
2194
2196
2197
2198
2199
2200
2201
2202
2203
2204
2205
2208
2209
2211
2212
2213
2214
2216
2217
2220
2221
2223
2224
2225
2226
2227
2228
2229
2230
2232
2233
2234
2235
2236
2237
2239
2240
2241
2242
2243
2244
2245
2246
2247
2248
2249
2250
2252
2253
2254
2255
2256
2257
2258
2259
2260
2261
2262
2263
2264
2265
2266
2267
2268
2269
2270
2271
2272
2273
2274
2275
2276
2277
2278
2279
2280
2281
2282
2283
2284
2285
2286
2287
2288
2289
2290
2291
2293
2294
2295
2296
2297
2298
2300
2301
2302
2303
2304
2305
2306
2307
2308
2309
2310
2311
2312
2313
2314
2315
2316
2317
2318
2319
2320
2321
2322
2323
2324
2325
2326
2327
2328
2329
2330
2332
2333
2334
2335
2337
2339
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
2356
2357
2358
2359
2360
2361
2362
2363
2364
2365
2366
2367
2368
2369
2370
2371
2372
2373
2374
2375
2376
2377
2378
2379
2380
2381
2382
2383
2384
2385
2386
2387
2388
2389
2390
2391
2392
2393
2394
2395
2396
2398
2399
2400
2402
2403
2405
2406
2407
2408
2409
2410
2411
2412
2413
2414
2415
2416
2418
2419
2420
2421
2422
2423
2424
2425
2426
2427
2428
2429
2430
2431
2432
2433
2434
2435
2436
2437
2438
2439
2440
2441
2442
2443
2444
2445
2446
2447
2448
2449
2450
2451
2452
2453
2454
2455
2456
2457
2458
2459
2460
2461
2462
2463
2464
2465
2466
2467
2468
2469
2470
2471
2472
2473
2474
2475
2476
2477
2478
2479
2480
2481
2482
2483
2484
2485
2486
2487
2488
2489
2490
2491
2492
2493
2494
2495
2496
2497
2498
2499
2500
2501
2502
2503
2504
2505
2506
2507
2508
2509
2510
2511
2512
2513
2514
2515
2516
2517
2518
2519
2520
2521
2522
2523
2524
2525
2526
2527
2528
2529
2530
2531
2532
2533
2534
2535
2536
2537
2538
2539
2540
2541
2542
2543
2544
2545
2546
2547
2548
2549
2550
2551
2552
2553
2554
2555
2556
2557
2558
2559
2560
2561
2562
2563
2564
2565
2566
2567
2568
2569
2570
2571
2572
2573
2574
2575
2576
2577
2578
2579
2580
2581
2582
2583
2584
2585
2586
2587
2588
2589
2590
2591
2592
2593
2594
2595
2596
2597
2599
2600
2601
2602
2603
2604
2605
2606
2607
2608
2609
2610
2611
2612
2613
2614
2615
2616
2617
2618
2619
2620
2621
2622
2623
2624
2625
2626
2627
2628
2629
2630
2631
2632
2633
2634
2635
2636
2637
2638
2639
2640
2641
2642
2643
2644
2645
2646
2647
2648
2649
2650
2651
2652
2653
2654
2655
2656
2657
2658
2659
2660
2662
2663
2664
2665
2666
2667
2668
2669
2670
2671
2672
2673
2674
2675
2676
2677
2678
2679
2680
2681
2682
2683
2684
2685
2686
2687
2688
2689
2690
2691
2692
2693
2694
2695
2696
2697
2698
2699
2700
2701
2702
2703
2704
2705
2706
2707
2708
2709
2710
2711
2712
2713
2714
2715
2716
2717
2718
2719
2720
2721
2722
2723
2724
2725
2726
2727
2728
2729
2730
2731
2732
2733
2734
2735
2736
2737
2738
2739
2740
2741
2742
2743
2744
2745
2746
2747
2748
2749
2750
2751
2752
2753
2754
2755
2756
2757
2758
2759
2760
2761
2762
2763
2764
2765
2766
2767
2768
2769
2771
2772
2774
2775
2776
2777
2778
2779
2780
2781
2782
2783
2784
2785
2786
2787
2788
2789
2790
2791
2792
2793
2794
2795
2796
2797
2798
2799
2802
2803
2804
2805
2806
2808
2810
2814
2815
2816
2817
2818
2820
2821
2822
2823
2824
2825
2826
2827
2828
2829
2830
2831
2832
2833
2834
2835
2836
2837
2838
2839
2840
2841
2842
2843
2844
2845
2846
2847
2848
2849
2850
2851
2852
2853
2854
2855
2856
2857
2858
2859
2860
2861
2862
2863
2864
2865
2866
2867
2868
2869
2870
2871
2872
2873
2874
2875
2876
2877
2878
2879
2880
2881
2882
2883
2884
2885
2886
2887
2888
2889
2890
2891
2892
2893
2894
2895
2896
2897
2898
2899
2900
2901
2902
2903
2904
2905
2906
2907
2908
2909
2910
2911
2912
2913
2914
2915
2916
2917
2918
2919
2920
2921
2922
2923
2924
2925
2926
2927
2928
2929
2930
2931
2932
2933
2934
2935
2936
2937
2938
2939
2940
2941
2942
2943
2944
2945
2946
2947
2948
2949
2950
2951
2952
2953
2954
2955
2956
2957
2958
2959
2960
2961
2962
2963
2964
2965
2966
2967
2968
2969
2970
2971
2972
2973
2974
2975
2976
2977
2978
2979
2980
2981
2982
2983
2984
2985
2986
2987
2988
2989
2990
2991
2992
2993
2994
2995
2996
2997
2998
2999
3000
3001
3002
3003
3004
3005
3006
3007
3008
3009
3010
3011
3012
3013
3014
3015
3016
3017
3018
3019
3020
3021
3022
3023
3024
3025
3026
3027
3028
3029
3030
3031
3032
3033
3034
3035
3036
3037
3038
3039
3040
3041
3042
3043
3044
3045
3046
3047
3048
3049
3050
3051
3052
3053
3054
3055
3056
3057
3058
3059
3060
3061
3062
3063
3064
3065
3066
3067
3068
3069
3070
3071
3072
3073
3074
3075
3076
3077
3078
3079
3080
3081
3082
3083
3084
3085
3086
3087
3088
3089
3090
3091
3092
3093
3094
3095
3096
3097
3098
3099
3100
3101
3102
3103
3104
3105
3106
3107
3108
3109
3110
3111
3112
3113
3114
3115
3116
3117
3118
3119
3120
3121
3122
3123
3124
3125
3126
3127
3128
3129
3130
3131
3132
3133
3134
3135
3136
3137
3138
3139
3140
3142
3143
3144
3145
3146
3147
3148
3149
3150
3151
3152
3153
3154
3155
3157
3158
3159
3161
3162
3163
3164
3165
3167
3169
3170
3171
3172
3173
3175
3176
3177
3178
3179
3180
3181
3183
3184
3185
3186
3187
3188
3189
3190
3191
3192
3193
3194
3195
3196
3197
3199
3201
3202
3203
3204
3205
3206
3207
3208
3209
3210
3211
3212
3213
3214
3215
3216
3217
3218
3219
3220
3221
3222
3223
3224
3225
3226
3227
3228
3229
3230
3231
3232
3233
3234
3235
3236
3237
3238
3239
3240
3241
3242
3243
3244
3245
3246
3247
3248
3249
3250
3251
3252
3253
3254
3255
3256
3257
3259
3260
3261
3262
3263
3265
3266
3267
3268
3269
3270
3271
3272
3274
3275
3276
3277
3278
3279
3280
3281
3282
3283
3284
3285
3286
3287
3288
3289
3290
3291
3292
3293
3294
3295
3296
3297
3299
3300
3301
3302
3303
3304
3305
3306
3307
3308
3309
3310
3311
3312
3313
3314
3315
3316
3317
3318
3319
3320
3321
3322
3323
3324
3325
3326
3327
3328
3329
3330
3331
3332
3333
3334
3335
3336
3337
3338
3339
3340
3341
3342
3343
3344
3345
3346
3347
3348
3349
3350
3351
3352
3353
3354
3355
3356
3357
3358
3359
3360
3361
3362
3363
3364
3365
3366
3367
3369
3370
3372
3373
3374
3375
3378
3379
3380
3381
3383
3384
3386
3387
3388
3389
3390
3391
3392
3393
3394
3395
3396
3397
3398
3399
3400
3401
3402
3403
3404
3405
3406
3407
3408
3409
3410
3411
3412
3413
3414
3415
3416
3417
3418
3419
3420
3421
3422
3423
3424
3425
3426
3427
3428
3429
3430
3431
3432
3433
3434
3435
3436
3437
3438
3439
3440
3441
3442
3445
3446
3447
3448
3449
3450
3451
3452
3453
3454
3455
3456
3457
3458
3459
3460
3461
3462
3463
3464
3465
3466
3467
3468
3469
3470
3471
3472
3473
3474
3475
3476
3477
3478
3479
3480
3481
3482
3484
3485
3486
3487
3488
3489
3490
3491
3492
3493
3494
3495
3496
3497
3498
3499
3500
3501
3502
3503
3504
3505
3506
3507
3508
3509
3510
3511
3512
3513
3514
3515
3516
3517
3518
3519
3520
3521
3522
3523
3524
3525
3527
3528
3529
3530
3531
3532
3533
3534
3535
3536
3537
3538
3539
3540
3541
3542
3544
3545
3547
3548
3549
3550
3551
3552
3553
3554
3555
3556
3557
3558
3559
3560
3561
3562
3563
3564
3565
3566
3567
3568
3569
3570
3571
3572
3573
3574
3575
3576
3577
3578
3579
3580
3581
3582
3583
3584
3585
3586
3587
3588
3589
3590
3591
3592
3593
3594
3595
3596
3597
3598
3599
3600
3601
3602
3603
3604
3605
3606
3607
3608
3609
3610
3611
3612
3613
3614
3615
3616
3617
3618
3619
3620
3621
3622
3623
3624
3625
3626
3627
3628
3629
3631
3632
3633
3634
3635
3636
3637
3638
3639
3640
3641
3642
3644
3645
3646
3647
3648